@font-face{
    src: url(fonts/ProtestRiot-Regular.ttf);
    font-family: Protest Riot;
}

body{
    background-color: hsl(0, 18%, 78%);
    margin: 0;
}

header{
    background-color: rgb(235, 235, 235);
    text-align: center;
    
}

#MainHeading{
    color: hsl(0, 100%, 59%); font-size: 50px; font-family: "Protest Riot", sans-serif; padding-top: 3vh; padding-bottom: 3vh;
  
}


.navBar ul{
    list-style-type: none;
    background-color: rgb(85, 85, 85);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
   
}

.navBar a{
    text-decoration: none;
    color: rgb(224, 224, 224);
}

.navBar li{
    padding: 20px;
    display: block;
    transition-property: all;
    transition-duration: 0.3s;
    float: left;
}

.navBar li:hover{
    background-color: hsl(0, 7%, 47%); 
}






